/* Commun */

body {
    background: #CFCFCF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 10px;
}

header {
    width: 75%;
    margin: auto;
    border: 10px solid #4DA167;
    background-color: #4E6E5D;
    border-radius: 20px;
    padding: 20px;
    font-size: 3em;
    text-align: center;
    font-family: cursive;
}

header p::before, header p::after {
    content: " ★★★ ";
}

h1::before {
    content: " > ";
}

form {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 200px auto;
}

form button {
    grid-column: 2 / 3;
    margin: 10px;
}

form label {
    padding: 10px;
    font-weight: bold;
    text-align: right;
}

form input, form select {
    margin: 10px;
}

section {
    width: 75%;
    margin: auto;
    border: 10px solid #4DA167;
    border-radius: 20px;
    background-color: #4E6E5D;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Page d'accueil */

#accueil nav {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

#accueil nav li {
    display: flex;
    align-items: center;

    flex-basis: 33%;
    height: 150px;
    border: 10px solid #4DA167;
    border-radius: 20px;
    text-align: center;
    background-color: #4E6E5D;
}

#accueil nav li a {
    flex-basis: 100%;
    color: black;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

#accueil nav li a::before, #accueil nav li a::after  {
    content: " ★ ";
}

/* Page saveur */

#saveur section table {
    border-collapse:collapse;
    background-color: #CFCFCF;
    text-align: center;
}

#saveur section table td, #saveur section table th {
    padding: 10px;
}

#saveur section table tr:nth-child(2n), #saveur section table thead {
    background-color: #3BC14A;
}
